article { min-width: 800px !important; }

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  color: white;
  text-anchor: right;
  font-size: 0.8em;
}

.label,
.node--root,
.node--leaf {
}

#focus {
    background-color: white;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

svg {
    margin: 0 auto;
    margin-top: 8.5em;
    display: block;
}
