.uni-link {
}

g.doctor-link {
}

g.doc:hover, g.doc-selected{
    color: #d7191c;
    fill: #d7191c;
    stroke: #d7191c;
    display: inline;
    fill-opacity: 1.0;
    stroke-opacity: 1.0;
}

g.doc-centroid:hover {
    fill: #5e3c99;
    z-index: 100;
}

.doc-centroid {
    stroke-width: 0;
    fill-opacity: 0.8;
    fill:#d73027;
}


.uni-location {
  fill: #2c7bb6;
  fill-opacity: .8;
  stroke: none;
}

.uni-location:hover {
    fill: white;
}

.topo {
    fill: #ffffbf;
    stroke: black;
    stroke-width: 0.1;
}

.outline {
    fill: #e0f3f8;
}


