body { min-width: 1200px !important; }

.link {
  fill: none;
  stroke-width:1.5px;
}

.force_link { stroke-width: 2px; }

#vis {text-align: center}
#vis div {
    text-align: center;
    display: inline-block;
}

.node {
  stroke-width: 0;
}

g.grid circle {
    stroke: #eee;
    stroke-dasharray: 20,10;
    fill: none;
}

.axis {
    stroke: #ccc;
    stroke-width: 3px;
}

text.axis-label, text.axis-angle {
    stroke: none;
    fill: black;
    font-size: 0.8em;
    text-anchor: middle;
}
text.axis-label, text-axis_title {
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.legend-title {
    font-style: italic;
    font-size: 1em;
}
.legend-elem {
    font-size: 0.9em;
}

table {
    margin: 0 auto;
    text-align: center;
}

td { padding: 5px; }

#data-dump {
    height: 250px;
    overflow: auto;
}

#vis_hp, #vis_force{ text-align: center; }

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.bootstro-nav-wrapper {
  margin: 10px;
  margin-bottom: 0;
}

.popover-title
{
	font-weight:bold;
}
.popover
{
	width:400px;
  background: white;
}

#tut-slides, #tut_slides * {
    text-align: center;
  display: inline-block;
}

#tut_slides div {
    border: solid black 1px;
  }
