/* d3 lasso */
.lasso path {
  stroke: orange;
  stroke-width:2px;
}

.lasso .drawn {
  fill: orange;
  fill-opacity:0.2 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill: yellow;
  fill-opacity:.5;
}
