div#vis {
    min-height: 400px;
    min-width: 400px;
    height: 75%;
    width: 100%
}
.vis-ui input.num_input {
  width: 48px;
}
.vis-ui table td {
  width: auto;
}
.vis-ui table.palette td:first-child {
  text-align: right;
}
