td {
    padding: 5px;
    width: 120px;
}

table {
    margin: 0 auto;
}

.element_info, select, button {
    background: white;
    border: solid black 1px;
}

em { font-weight: bold; }



.palette-element {
    font-size: 0.8em;
    text-anchor: middle;
}

#elements_info {
    overflow: auto;
        height: 500px;
}

.element_info {
    margin: 10px auto;
    padding: 5px 30px;
    max-width: 400px;
    overflow: hidden;
}


#geo_vis {
    text-align: center;
}
svg.legends {
    display: block;
}

