.link {
  fill: none;
  stroke-width:1.5px;
}

.force_link { stroke-width: 2px; }

#vis {text-align: center}
#vis div {
    text-align: center;
    display: inline-block;
}

.node {
  stroke-width: 0;
}

g.grid circle {
    stroke: #eee;
    stroke-dasharray: 20,10;
    fill: none;
}

.axis {
    stroke: #ccc;
    stroke-width: 3px;
}

text.axis-label, text.axis-angle {
    stroke: none;
    fill: black;
    font-size: 0.8em;
    text-anchor: middle;
}
text.axis-label, text-axis_title {
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    min-width: 300px;
    max-width: 1500px;
}

.legend-title {
    font-style: italic;
    font-size: 1em;
}
.legend-elem {
    font-size: 0.9em;
}

table {
    margin: 0 auto;
    text-align: center;
}

td { padding: 5px; }

#data-dump {
    height: 250px;
    overflow: auto;
}

