body { min-width: 1300px !important; }

.controls span{
    margin: 0 8px;
    border-bottom: solid black 1px;
}

#all_vis {
    text-align:center;
}

.feature {
  stroke: black;
  stroke-width: 0.5px;
}

.background {
    fill: white;
}

.vis, .vis svg {
    display: inline-block;
    text-align: center;
}

.link, g.grid circle{
    fill: none
}

#hp_vis_container, #map_vis_container {
    outline: 1px solid black;
    margin: 5px;

    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.control {
    margin: 5px;
}

div.controls {
    width: 90%;
    margin: 0 auto;
}

.hp_vis {
    width: 500px;
}

.geo_vis {
    width: 600px;
}

.element_info, select, button {
    background: white;
    border: solid black 1px;
}

em { font-weight: bold; }



.palette-element {
    font-size: 0.8em;
    text-anchor: middle;
}

#elements_info {
    overflow: auto;
        height: 500px;
}

.element_info {
    margin: 10px auto;
    padding: 5px 30px;
    max-width: 400px;
    overflow: hidden;
}

#geo_vis {
    text-align: center;
}

svg.legends {
    display: block;
}

